@import '../../scss/variables';

.journey-time {
  background-color: rgba($bg-blue-2, .8);
  border-radius: 4px;
  overflow: hidden;
  .title {
    display: block;
    padding: 4px;
    background-color: rgba(lighten($col-cyan, 10%), .2);
    font-weight: bold;
  }
  .panels {
    display: flex;
    flex-direction: column;
    padding: 30px;
    .panel {
      display: flex;
      margin: 8px 0;
      .airplane-arrow { margin: 0 6px; }
    }
  }
}