@import '../../scss/variables';

.morning-flights {
  margin: 0 2%;
  border-radius: 4px;
  background-color: rgba($bg-blue-2, .8);
  overflow: hidden;
  .panels {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 100px;
    grid-column-gap: 2%;
    align-items: center;
    padding: 10px;
  }
}