@import '../scss/fx';
@import '../scss/variables';

.home {
  .container-wrapper {
    display: flex;
    justify-content: center;
    animation: fadeIn 0.4s linear forwards;
    &.middle {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 20px;
      margin: 50px 4%;
    }
    &.footer { background-color: rgba($bg-blue-2, .8); }
    .container {
      flex: 1;
      display: flex;
      flex-direction: column;
      .title {
        display: block;
        padding: 4px;
        background-color: rgba(lighten($col-cyan, 10%), .2);
        font-weight: bold;
      }
      .chart { flex: 1; }
    }
  }
}