@import './_normalize.scss';
@import './_variables.scss';
@import './_fonts.scss';

/* Force the page to document height if there are not many elements */
html, body, #react {
  min-height: 100vh;
  background-color: black;
}

#react {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
  color: $cyan-color;
  text-shadow: 1px 1px 0 black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
